<!DOCTYPE html>
<html ng-app="findFilm">
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="youtube.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
</head>

<body>
	<!-- Header  -->
	<header></header>

	<!-- Search for film details -->
	<film-form></film-form>

		<!-- Check if the film is on Netflix 
		<netflix-check></netflix-check>-->

		<!-- Check if the film is on Netflix  ng-show="netflixCtrl.show" -->
		<div ng-controller="NetflixController as netflixCtrl" ng-show="netflixCtrl.show">

		<h1> A {{netflixCtrl.show}}</h1>
			
			<button type="button" id="netflixCheck" ng-click="netflixCtrl.netflixCheck()">Check on netflix</button>

			<div>
				<!--  Products Container  -->
				<div class="list-group">
					<!--  Product Container  -->
					<div class="list-group-item" ng-show="netflix.show" ng-repeat="netflix in netflixCtrl">

						<h2 id="filmTitle">Film on netflix</h2>
						<h3>Rating : <span class="rating">{{netflix.rating}}</span></h3>

					</div>
				</div>
			</div>
		</div>

		BNBNBNB
		<youtube-trailer></youtube-trailer>

		<!-- Check if the film is on Cinema (bologna only) TODO  -->
		<button type="button" id="cinemaCheck" ng-show="cinema.show" ng-controller="CinemaController as cinema" ng-click="cinema.cinemaCheck()">Check on cinema (Bologna - Italy only)</button>

	</body>
</html>










